.card {
    position: relative;
    overflow: hidden;
}

.view-details-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-on-card {
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.product-card-by-nay {
    transition: 0.2s ease-out;
}

.product-card-by-nay .card-body {
    padding: 5px;
}

.product-card-by-nay:hover {
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px #212529;
    transform: translateY(-10px);
}

.product-info-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product-card-title {
    display: flex;
    justify-content: space-between;
}

.product-card-title h5 {
    display: inline;
}